@import "tailwindcss";

body {
  background-color: black;
  color: white;
}

@media print {
  .no-print {
    display: none !important;
  }

  @page {
    margin: 0;
  }

  body {
    margin: 0;
    padding: 0;
    background: white;
  }
}

h1, h2, h3, label, th {
  pointer-events: none;  
  user-select: none;     
}

p, li {
  /* pointer-events: none;   */
  user-select: none;     
}

.noInclude { 
  pointer-events: auto !important; 
  user-select: text !important; 
}
