@import "tailwindcss";

body {
  background-color: black;
  color: white;
}

@media print {
  .no-print {
    display: none !important;
  }

  @page {
    margin: 0;  
  }

  body {
    margin: 0;
    padding: 0;
    background: white;
  }
}
